@model MyPortfolio.Models.Contact
@{
    ViewData["Title"] = "Home Page";
}


<div class="main-content">

    <section class="home section" id="home">
        <div class="container">
            <div class="row">
                <div class="home-info padd-15">
                    <h3 class="hello">Hello, my name is <span class="name">Diar Hyseni</span></h3>
                    <h3 class="profession">I' m a <span class="typing">Web Developer</span></h3>
                    <p>I'm a Web Developer. My expertise is to create Responsive Websites, Desktop Applications and many more...</p>
                    <a href="#contact" class="btn hire-me">Hire Me</a>
                </div>
                <div class="home-img padd-15">
                    <img src="~/Gallery/diar.JPG" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="about section" id="about">
        <div class="container">
            <div class="row">
                <div class="section-title padd-15">
                    <h2>About Me</h2>
                </div>
            </div>
            <div class="row">
                <div class="about-content padd-15">
                    <div class="row">
                        <div class="about-text padd-15">
                            <h3>I'm Diar Hyseni and <span>Web Developer</span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="personal-info padd-15">
                            <div class="row">
                                <div class="info-item padd-15">
                                    <p>Address : <span>St. Bedri Gjinaj - Mitrovice</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>Age : <span>21</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>Email : <span>diarhyseni4@gmail.com</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>Degree : <span>Computer Science</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>Phone : <span>+38344910403</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>Languages : <span>English, Albanian, Turkish</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="buttons padd-15">
                                    <a href="gallery/Diar Hyseni - CV.pdf" download class="btn">Download CV</a>
                                    <a href="#contact" class="btn hire-me">Contact Me</a>
                                </div>
                            </div>
                        </div>
                        <div class="skills padd-15">
                            <div class="row">
                                <div class="skill padd-15">
                                    <h5>Java</h5>
                                    <div class="progress">
                                        <div class="progressi" style="width: 73%;"></div>
                                        <div class="perqindja">73%</div>
                                    </div>
                                </div>
                                <div class="skill padd-15">
                                    <h5>PHP</h5>
                                    <div class="progress">
                                        <div class="progressi" style="width: 56%;"></div>
                                        <div class="perqindja">56%</div>
                                    </div>
                                </div>
                                <div class="skill padd-15">
                                    <h5>Asp .NET Core</h5>
                                    <div class="progress">
                                        <div class="progressi" style="width: 76%;"></div>
                                        <div class="perqindja">76%</div>
                                    </div>
                                </div>
                                <div class="skill padd-15">
                                    <h5>Html - Css - Bootstrap</h5>
                                    <div class="progress">
                                        <div class="progressi" style="width: 92%;"></div>
                                        <div class="perqindja">92%</div>
                                    </div>
                                </div>
                                <div class="skill padd-15">
                                    <h5>Wordpress</h5>
                                    <div class="progress">
                                        <div class="progressi" style="width: 84%;"></div>
                                        <div class="perqindja">84%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="edukimi padd-15 ">
                            <h3 class="title">Education</h3>
                            <div class="row">
                                <div class="box padd-15">
                                    <div class="timeline shadow-dark">
                                        <div class="box-item">
                                            <div class="circle"></div>
                                            <h3 class="box-date">
                                                <i class="fa fa-calendar"></i> 2006 - 2015
                                            </h3>
                                            <h4 class="box-title">Elementary School Graduate</h4>
                                            <p class="box-text">SHKMU "Eqrem Cabej" - Mitrovicë</p>
                                            <p class="box-text">Mitrovica (Kosovo)</p>
                                        </div>
                                        <div class="box-item">
                                            <div class="circle"></div>
                                            <h3 class="box-date">
                                                <i class="fa fa-calendar"></i> 2015 - 2018
                                            </h3>
                                            <h4 class="box-title">High School Graduate</h4>
                                            <p class="box-text">Gymnasium 'Frang Bardhi'</p>
                                            <p class="box-text">Mitrovica (Kosovo)</p>
                                        </div>
                                        <div class="box-item">
                                            <div class="circle"></div>
                                            <h3 class="box-date">
                                                <i class="fa fa-calendar"></i> 2018 - 2022
                                            </h3>
                                            <h4 class="box-title">Computer Science & Engineering</h4>
                                            <p class="box-text">Bachelor Degree</p>
                                            <p class="box-text">Prishtina (Kosovo)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="eksperienca padd-15">
                            <h3 class="title">Experience</h3>
                            <div class="row">
                                <div class="box padd-15">
                                    <div class="timeline shadow-dark">
                                        <div class="box-item">
                                            <div class="circle"></div>
                                            <h3 class="box-date">
                                                <i class="fa fa-calendar"></i> 2020
                                            </h3>
                                            <h4 class="box-title">Certificate of Completion -"DreamBig"</h4>
                                            <p class="box-text">Web Development Course</p>
                                            <p class="box-text">Prishtina (Kosovo)</p>
                                        </div>
                                        <div class="box-item">
                                            <div class="circle"></div>
                                            <h3 class="box-date">
                                                <i class="fa fa-calendar"></i> 2020 - 2021
                                            </h3>
                                            <h4 class="box-title">ICT-Kosovo - Semester I</h4>
                                            <p class="box-text">Web Development Course</p>
                                            <p class="box-text">Mitrovica (Kosovo)</p>
                                        </div>
                                        <div class="box-item">
                                            <div class="circle"></div>
                                            <h3 class="box-date">
                                                <i class="fa fa-calendar"></i> 2021
                                            </h3>
                                            <h4 class="box-title">ICT-Kosovo - Semester II</h4>
                                            <p class="box-text">Java Application Development</p>
                                            <p class="box-text">Mitrovica (Kosovo)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service section" id="services">
        <div class="container">
            <div class="row">
                <div class="section-title padd-15">
                    <h2>Technologies that I offer service on <i class="icon fa fa-code"></i></h2>
                </div>
            </div>
            <div class="row">
                <div class="service-item padd-15">
                    <div class="service-item-inner">
                        <div class="icon">
                            <i class="fab  fa-html5"></i>
                        </div>
                        <h4>HTML 5</h4>
                    </div>
                </div>
                <div class="service-item padd-15">
                    <div class="service-item-inner">
                        <div class="icon">
                            <i class="fab fa-css3-alt"></i>
                        </div>
                        <h4>CSS 3</h4>
                    </div>
                </div>
                <div class="service-item padd-15">
                    <div class="service-item-inner">
                        <div class="icon">
                            <i class="fab fa-bootstrap"></i>
                        </div>
                        <h4>Bootstrap</h4>
                    </div>
                </div>
                <div class="service-item padd-15">
                    <div class="service-item-inner">
                        <div class="icon">
                            <i class="fab fa-js-square"></i>
                        </div>
                        <h4>JavaScript</h4>
                    </div>
                </div>
                <div class="service-item padd-15">
                    <div class="service-item-inner">
                        <div class="icon">
                            <i class="fab fa-java"></i>
                        </div>
                        <h4>Java</h4>
                    </div>
                </div>
                <div class="service-item padd-15">
                    <div class="service-item-inner">
                        <div class="icon">
                            <i class="fab fa-php"></i>
                        </div>
                        <h4>PHP</h4>
                    </div>
                </div>
                <div class="service-item padd-15">
                    <div class="service-item-inner">
                        <div class="icon">
                            <i class="fab fa-vuejs"></i>
                        </div>
                        <h4>Vuejs</h4>
                    </div>
                </div>
                <div class="service-item padd-15">
                    <div class="service-item-inner">
                        <div class="icon">
                            <i class="fab fa-wordpress"></i>
                        </div>
                        <h4>Wordpress</h4>
                    </div>
                </div>
                <div class="service-item padd-15">
                    <div class="service-item-inner">
                        <div class="icon">
                            <i class="fab fa-windows"></i>
                        </div>
                        <h4>Asp .NET Core</h4>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="portfolio section" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="section-title padd-15">
                    <h2>Portfolio</h2>
                </div>
            </div>
            <div class="row">
                <div class="portfolio-heading padd-15">
                    <h2>My Last Projects :</h2>
                </div>
            </div>
            <div class="row">
                <div class="portfolio-item padd-15">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                            <img src="~/Gallery/portfolio1.png" alt="">
                            <h2>Online Shop</h2>
                            <h5> <span>Asp .NET Core MVC, HTML, CSS, JS </span></h5>
                            <div class="butoni">
                                <a href="https://github.com/diarhyseni/Online-Shop-.NET-Core-" class="btn-full">Check on GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item padd-15">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                            <img src="~/Gallery/portfolio3.jpg" alt="">
                            <h2>Hotel Management </h2>
                            <h5> <span>JAVA </span></h5>
                            <div class="butoni">
                                <a href="https://github.com/diarhyseni/HotelMANAGEMENT-Project" class="btn-full">Check on GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item padd-15">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                            <img src="~/Gallery/portfolio2.png" alt="">
                            <h2>Transfermarkt</h2>
                            <h5> <span>HTML, CSS, JS </span></h5>
                            <div class="butoni">
                                <a href="https://github.com/diarhyseni/Transfermarkt-JSt" class="btn-full">Check on GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portfolio-item padd-15">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                            <img src="~/Gallery/portfolio4.png" alt="">
                            <h2>Tesla - Dealership</h2>
                            <h5> <span> HTML, CSS, JS </span></h5>
                            <div class="butoni">
                                <a href="https://github.com/diarhyseni/ICT-CourseWeb-Detyrat" class="btn-full">Check on GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section class="contact section" id="contact">
        <div class="container">
            <div class="row">
                <div class="section-title padd-15">
                    <h2>Contact Me</h2>
                </div>
            </div>
            <h3 class="contact-title padd-15">Do you have any question?</h3>
            <h3 class="contact-subtitle padd-15"> SEND ME AN EMAIL</h3>
            <div class="row">
                <form method="post" asp-action="Create" asp-controller="Contacts" class="contact-form padd-15">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-item col-6 padd-15">
                            <div class="form-group">
                                <input asp-for="Emri" class="form-control" placeholder="Emri" />
                                <span asp-validation-for="Emri" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-item col-6 padd-15">
                            <div class="form-group">
                                <input asp-for="Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-item col-12 padd-15">
                            <div class="form-group">
                                <input asp-for="Subjekti" class="form-control" placeholder="Subjekti" />
                                <span asp-validation-for="Subjekti" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-item col-12 padd-15">
                            <div class="form-group">
                                <textarea asp-for="Mesazhi" class="form-control" placeholder="Mesazhi"></textarea>
                                <span asp-validation-for="Mesazhi" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-item col-12 padd-15">
                            <button type="submit" value="Create" class="btn">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <h3 class="contact-subtitle padd-15"> Connect with me</h3>
            <div class="row">
                <div class="contact-info-item ">
                    <div class="icon"><i class="contacticon fab fa-3x fa-facebook"></i></div>
                    <h4><a href="https://www.facebook.com/diarhysenii">Facebook</a></h4>
                </div>
                <div class="contact-info-item ">
                    <div class="icon">
                        <i class="contacticon fab fa-3x fa-instagram"></i>
                    </div>
                    <h4><a href="https://www.instagram.com/diarhyseni">Instagram</a></h4>
                </div>
                <div class="contact-info-item padd-15">
                    <div class="icon">
                        <i class="contacticon fab fa-3x fa-linkedin-in"></i>
                    </div>
                    <h4><a href="https://www.linkedin.com/in/diar-hyseni-a08292221/">Linkedln</a></h4>
                </div>
                <div class="contact-info-item padd-15">
                    <div class="icon"><i class="contacticon fab fa-3x fa-github-square"></i></div>
                    <h4><a href="https://github.com/diarhyseni">GitHub</a></h4>

                </div>

                <h5> ©Copyright - DiarHyseni2022 </h5>
            </div>
        </div>
    </section>
</div>

